
.ractive-tooltip
    position absolute
    display table

    padding 0.5em

    color #fff
    background #000
    box-shadow 0 2px 2px rgba(0,0,0,0.1)
    border-radius 5px
    white-space nowrap
    z-index 99999

    font-style normal
    text-transform none
    pointer-events none
